{% extends 'base.html' %}

{% block content %}
    <p><a href="{% url 'home' %}">Назад к списку</a></p>
    <h2>{{data.image.name}}</h2>
    <img src="{{ data.image.url }}">
    {% if messages %}
        {% for message in messages %}
            <p><strong>{{ message }}</strong></body></p>
        {% endfor %}
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            <label for="id_width">Ширина:</label>
            <input type="text" name="width" maxlength="5" id="id_width" placeholder="{{ data.image.width }}">
        </p>
        <p>
            <label for="id_height">Высота:</label>
            <input type="text" name="height" maxlength="5" id="id_height" placeholder="{{ data.image.height }}">
        </p>
        <button type="submit">Отправить</button>
    </form>
{% endblock %}
